pre code .close {
  border-collapse: inherit;
  box-sizing: inherit;
  float: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: inherit;
  cursor: inherit;
}
pre code .close:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}
.scroll-content,
.toc {
  margin-top: 20px;
  overflow: auto;
}
#intro {
  margin-top: 0px;
}
#main-nav {
  padding: 10px 5px;
}
code-block {
  display: inline-block;
  font-family: "Source Code Pro", Monaco, monospace;
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre;
  width: 100%;
}
code-block[lang="csharp"] {
  float: left;
  margin-right: 10px;
  width: 50%;
  width: calc(50% - 10px);
}
code-block[lang="csharp"] + code-block[lang="ruby"] {
  margin-left: 10px;
  width: 50%;
}
code-block + p,
code-block + h1,
code-block + h2,
code-block + h3,
code-block + h4 {
  clear: left;
}
.toc ul.nav {
  margin: -10px -10px 0 -10px;
}
.toc ul.nav > li > a {
  padding: 5px 15px 0 15px;
}
.toc ul.nav > li > ul {
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
}
.toc ul.nav ul > li > a {
  text-decoration: none;
}
